body {
    font-family: sans-serif;
    width: 90%;
    margin: 0 auto;
}

p {
  margin: 4pt 0;
}

h4 {
  margin-bottom: 4pt;
}

.notabene {
  font-size: x-small;
}

.hide {
  display: none;
}

fieldset {
  border: 1pt solid black;
  border-radius: 5pt;
}

legend {
  font-weight: bold;
  font-variant: small-caps;
}

fieldset + fieldset {
  margin-top: 1em;
}

label + input {
  margin-left: 6pt;
}

input + label {
  margin-left: 6pt;
}

#modsCode {
  width: 70%;
}

#modsMods {
  padding: 0;
}

#modsMods li {
  list-style-type: none;
  border: 1pt solid black;
  border-radius: 5pt;
}

#modsMods li p:first-child {
  font-weight: bold;
}

#modsMods li p:not(:first-child) {
  margin-left: 1em;
}

#modsMods li + li {
  margin-top: .5em;
}

#resChoose {
  width: 80%;
}

#optSlotPenaltyTbl {
  text-align: center;
}

#optSlotPenaltyTbl td {
  padding: 2pt;
}

#optSlotPenaltyTbl input {
  width: 5em;
}

#resTimetable {
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

#resTimetable thead, #optSlotPenaltyTbl thead {
  font-weight: bold;
}

#resTimetable thead tr:nth-child(2) td {
  width: 7em;
}

#resTimetable tbody td:first-child, #optSlotPenaltyTbl tbody td:first-child {
  font-weight: bold;
}

#resTimetable tbody td:not(:first-child) {
  font-size: small;
}

#resTimetable tbody tr {
  height: 2em;
}

#resTimetable td {
  border: 1pt solid black;
}

#resTimetable td.cont {
  border-bottom: none;
}

#resTimetable p {
  margin: 0;
}

#resTimetable tbody td.ttClass {
  background-color: orange;
}

#resTimetable tbody td.ttLunch {
  color: navy;
}

#resTimetable tbody td.ttFreeDay {
  color: white;
  background-color: #666;
}

#resTimetable tbody td:not(:first-child) p:first-child {
  font-weight: bold;
}